<h4>All the tweets</h4>

<% Tweet.all.each do |tweet| %>
	<ul>
		<li style="list-style-type: none;"><%= tweet.content %></li>
		<!-- <li><%= tweet.media %></li> -->
	</ul>
<% end %>

<%= link_to 'Make a new tweet', new_tweet_path %>
